.reviewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
}

.editContainer {
  display: flex;
  flex-direction: column;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
}

.editButton {
  margin-left: 16px;
}

.seedAndTrades {
  display: flex;
  flex-direction: column-reverse;
}
