.reviewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tradeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editContainer {
  display: flex;
  flex-direction: column;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
}

.editButton {
  margin-left: 16px;
}
