.dasboardContainer {
  display: flex;
  flex-direction: column;
}

.dailyChartContainer {
  height: 400px;
}

.rContainer {
  display: flex;
  margin: 16px 0;
}

.rContainer .button {
  border-width: 0;
}

.rItem {
  width: 150px;
  height: 90px;
  margin-right: 16px;
  padding: 8px;
  background-color: #e0e0e0;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 8px;
}
