.dasboardContainer {
  display: flex;
  flex-direction: column;
}

.dasboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  width: 400px;
  display: flex;
  align-items: center;
}

.dropdowns {
  display: flex;
}

.dropdown {
  margin-left: 8px;
}

.dailyChartContainer {
  margin-bottom: 16px;
}

.navButton {
  background-color: transparent;
  color: black;
}
