.appBar {
  background-color: #4caf50;
}

.header {
  color: #524642 !important;
}

.container {
  display: flex;
}

.link {
  align-self: center;
  padding-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #a4d6a5;
}
.link:hover {
  color: #1f4821;
}
