.container {
  background-color: #f5f5f6;
  border-top: solid 15px #a1887f;
  margin: 6px;
  padding: 8px;
  width: 180px;
  height: 180px;
  text-decoration: none;
  cursor: pointer;
}

.tradeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.element {
  margin: 6px 0;
}

.card {
  font-size: 16px;
}
