.container {
  display: flex;
  flex-direction: row;
}

.strategiesList {
  width: 150px;
}

.strategieContainer {
  width: 100%;
}

.strategyLink {
  cursor: pointer;
}

.strategyLink:hover {
  font-weight: bold;
}
