.container {
  background-color: #e0e0e0;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 6px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 180px;
  height: 180px;
  text-decoration: none;
}

.card {
  font-size: 16px;
}

.element {
  margin: 6px 0;
}

h2 {
  color: #0f62fe;
}

a {
  text-decoration: none;
  color: #000;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.neuter {
  color: orange;
}
