.container {
  background-color: #f5f5f6;
  border-top: solid 15px #65ba69;
  margin: 6px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 180px;
  height: 180px;
  text-decoration: none;
}

.card {
  font-size: 16px;
}

.tradeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.element {
  margin: 6px 0;
}

a {
  text-decoration: none;
  color: #000;
}

.positive {
  color: #32893d;
}

.negative {
  color: #a30000;
}

.neuter {
  color: black;
}

.strategyMissing {
  color: grey;
}
