.container {
  background-color: #f4f4f4;
  margin: 16px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 250px;
  height: 250px;
  text-decoration: none;
}

.card {
  font-size: 16px;
}

.element {
  margin: 6px 0;
}

h2 {
  color: #0f62fe;
}

a {
  text-decoration: none;
  color: #000;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
