.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tradeArea {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tradeAreaDetails {
  flex: 1;
}

.tradeAreaActions {
  flex: 1;
}

.tradeAreaAction {
  margin: 8px 0;
}

.imagesArea {
  margin-top: 16px;
  flex: 1;
}

.tradeHeader {
  display: flex;
}

.editButton {
  margin-left: 16px;
}

.uploadButton {
  margin-left: 8px;
  width: 45px;
}

.tradeFilled {
  font-weight: bold;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #a30000;
}

.neuter {
  color: black;
}

.tradeRow {
  font-weight: bold;
}

.imgEdit {
  align-items: center;
  display: flex;
}

.deleteImgButton {
  background-color: transparent;
  color: black;
}
.deleteImgButton:hover {
  background-color: #da1e28;
}
